[LINK of Quiz](https://www.coursera.org/learn/data-cleaning/exam/hTfQ5/week-3-quiz)

# 1. Question 1

The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:<br>
https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv<br>
and load the data into R. The code book, describing the variable names is here:<br>
https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FPUMSDataDict06.pdf<br>
Create a logical vector that identifies the households on greater than 10 acres who sold more than $10,000 worth of agriculture products. <br>Assign that logical vector to the variable agricultureLogical. Apply the which() function like this to identify the rows of the data frame where the logical vector is TRUE.
which(agricultureLogical)<br>
What are the first 3 values that result?<br><br>
- 403, 756, 798<br>
- 25, 36, 45<br>
- 125, 238,262 <font color='red'>Correct</font><br> 
- 59, 460, 474

In [1]:
url <- "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv"
download.file(url, destfile = "American_Community_Survey.csv")
(date_downloaded <- date())

[1] "Wed Jun 12 17:45:42 2019"

In [2]:
df <- read.csv("American_Community_Survey.csv")
library(dplyr)
agricultureLogical <- ifelse(df$ACR == 3 &  df$AGS == 6, TRUE, FALSE)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
df[which(agricultureLogical),][1:3,]

    RT SERIALNO DIVISION PUMA REGION ST ADJUST  WGTP NP TYPE ⋯ wgtp71 wgtp72
125 H  30346    8        400  4      16 1015675 120  4  1    ⋯  96     29
238 H  53292    8        300  4      16 1015675  26  3  1    ⋯  23      8
262 H  56299    8        800  4      16 1015675  97  2  1    ⋯ 141    176
    wgtp73 wgtp74 wgtp75 wgtp76 wgtp77 wgtp78 wgtp79 wgtp80
125  41    202    187     51     83    158    42     112
238  14      8      8     24     25      8     6       8
262 126     83     94    114    103     33    33      28

# 2. Question 2

Using the jpeg package read in the following picture of your instructor into R<br>
https://d396qusza40orc.cloudfront.net/getdata%2Fjeff.jpg<br>
Use the parameter native=TRUE. What are the 30th and 80th quantiles of the resulting data? (some Linux systems may produce an answer 638 different for the 30th quantile)<br><br>
- -10904118 -10575416
- -14191406 -10904118
- -15259150 -10575416 <font color='red'>#Correct</font>
- -15259150 -594524

In [4]:
library(jpeg)
myurl <- "https://d396qusza40orc.cloudfront.net/getdata%2Fjeff.jpg"
z <- tempfile()
download.file(myurl,z,mode="wb")
pic <- readJPEG(z, native = TRUE)
file.remove(z) # cleanup

quantile(pic, probs = c(0.3, 0.8))

[1] TRUE

      30%       80%
-15258512 -10575416

# 3. Question

Load the Gross Domestic Product data for the 190 ranked countries in this data set:<br>
https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv<br>
Load the educational data from this data set:<br>
https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv<br>
Match the data based on the country shortcode. How many of the IDs match? Sort the data frame in descending order by GDP rank (so United States is last). What is the 13th country in the resulting data frame?<br>
Original data sources:<br>
http://data.worldbank.org/data-catalog/GDP-ranking-table<br>
http://data.worldbank.org/data-catalog/ed-stats<br>
- 189 matches, 13th country is St. Kitts and Nevis <font color='red'># Correct</font>
- 190 matches, 13th country is St. Kitts and Nevis
- 234 matches, 13th country is St. Kitts and Nevis
- 190 matches, 13th country is Spain
- 234 matches, 13th country is Spain
- 189 matches, 13th country is Spain

In [5]:
library(dplyr)
Gross_Domestic_Product = read.csv("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv", skip=3)
Gross_Domestic_Product <- Gross_Domestic_Product[-c(1,192:327),]
Gross_Domestic_Product$Ranking <- as.numeric(as.numeric_version(Gross_Domestic_Product$Ranking))
Gross_Domestic_Product <- Gross_Domestic_Product[,c(1,2,4,5,6)]
colnames(Gross_Domestic_Product)[1] <- "CountryCode"


educational = read.csv("https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv")

merged_df <- merge(Gross_Domestic_Product, educational, by = "CountryCode")

length(merged_df$CountryCode)

merged_df = arrange(merged_df, desc(Ranking))
merged_df[13,]['CountryCode']

[1] 189

   CountryCode
13 KNA

# 4. Question

# What is the average GDP ranking for the "High income: OECD" and "High income: nonOECD" group?
- 23.966667, 30.91304<br>
- 23, 30<br>
- 30, 37<br>
- 23, 45<br>
- 133.72973, 32.96667<br>
- 32.96667, 91.91304

In [6]:
merged_df %>% 
  select(Ranking, Income.Group) %>% 
  group_by(Income.Group) %>% 
  summarise(mean(Ranking, na.rm = T))

  Income.Group         mean(Ranking, na.rm = T)
1 High income: nonOECD  91.91304
2 High income: OECD     32.96667
3 Low income           133.72973
4 Lower middle income  107.70370
5 Upper middle income   92.13333

# 5. Question

Cut the GDP ranking into 5 separate quantile groups. Make a table versus Income.Group. How many countries
are Lower middle income but among the 38 nations with highest GDP?
- 5 <font color='red'># Correct </font>
- 0
- 13
- 12

In [7]:
merged_df$quantile <- with(merged_df, cut(Ranking, 
                    breaks=quantile(Ranking, probs=seq(0,1, by=0.2), na.rm=TRUE), 
                    include.lowest=TRUE, labels=c("Q1","Q2","Q3","Q4", "Q5")))

table(merged_df$Income.Group, merged_df$quantile)["Lower middle income", "Q1"]

[1] 5