In [5]:
pollutantmean <- function(directory, pollutant, id = 1:332){
	## 'directory' is a character vector of length 1 indicating the location of the csv file
	## 'pollutant' is a character vector of length 1 indicating the name of the pollutant of which we will calculate the mean; eithter 'sulfate' or 'nitrate'
	## 'id' is an integer vectro indicating the monitor ID numbers to be used
	## Return the mean of the pollutant across all monitors list in the 'id' vector (ignoring NA values)
	
	## NOTE: do not round the result!
}


if (pollutantmean("specdata", "nitrate", 70:72) == 1.706047){
	print("OK")
}else print("NO")

if (pollutantmean("specdata", "nitrate", 23)) == 1.280833{
	print("OK")
}else print("NO")

character(0)

In [13]:
# df <- read.csv('spac')
read.csv('specdata/003.csv')

     Date       sulfate nitrate ID
1    2001-01-01 NA      NA      3
2    2001-01-02 NA      NA      3
3    2001-01-03 NA      NA      3
4    2001-01-04 NA      NA      3
5    2001-01-05 NA      NA      3
6    2001-01-06 NA      NA      3
7    2001-01-07 NA      NA      3
8    2001-01-08 NA      NA      3
9    2001-01-09 NA      NA      3
10   2001-01-10 NA      NA      3
11   2001-01-11 NA      NA      3
12   2001-01-12 NA      NA      3
13   2001-01-13 NA      NA      3
14   2001-01-14 NA      NA      3
15   2001-01-15 NA      NA      3
16   2001-01-16 NA      NA      3
17   2001-01-17 NA      NA      3
18   2001-01-18 NA      NA      3
19   2001-01-19 NA      NA      3
20   2001-01-20 NA      NA      3
21   2001-01-21 NA      NA      3
22   2001-01-22 NA      NA      3
23   2001-01-23 NA      NA      3
24   2001-01-24 NA      NA      3
25   2001-01-25 NA      NA      3
26   2001-01-26 NA      NA      3
27   2001-01-27 NA      NA      3
28   2001-01-28 NA      NA      3
29   2001-01-29 NA      NA      3
30   2001-01-30 NA      NA      3
⋮    ⋮          ⋮       ⋮       ⋮
2162 2006-12-02 NA      NA      3
2163 2006-12-03 NA      NA      3
2164 2006-12-04 NA      NA      3
2165 2006-12-05 NA      NA      3
2166 2006-12-06 NA      NA      3
2167 2006-12-07 NA      NA      3
2168 2006-12-08 NA      NA      3
2169 2006-12-09 NA      NA      3
2170 2006-12-10 NA      NA      3
2171 2006-12-11 NA      NA      3
2172 2006-12-12 NA      NA      3
2173 2006-12-13 NA      NA      3
2174 2006-12-14 NA      NA      3
2175 2006-12-15 NA      NA      3
2176 2006-12-16 NA      NA      3
2177 2006-12-17 NA      NA      3
2178 2006-12-18 NA      NA      3
2179 2006-12-19 NA      NA      3
2180 2006-12-20 NA      NA      3
2181 2006-12-21 NA      NA      3
2182 2006-12-22 NA      NA      3
2183 2006-12-23 NA      NA      3
2184 2006-12-24 NA      NA      3
2185 2006-12-25 NA      NA      3
2186 2006-12-26 NA      NA      3
2187 2006-12-27 NA      NA      3
2188 2006-12-28 NA      NA      3
2189 2006-12-29 NA      NA      3
2190 2006-12-30 NA      NA      3
2191 2006-12-31 NA      NA      3