[link](https://www.coursera.org/learn/data-cleaning/exam/k2arZ/week-1-quiz)

## The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:
#### https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv
#### and load the data into R. The code book, describing the variable names is here:
#### https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FPUMSDataDict06.pdf
#### How many properties are worth $1,000,000 or more?

In [15]:
url <- "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv"
download.file(url, dest="./housing.csv")
housing <- read.csv("housing.csv")

In [20]:
sum(housing$VAL == 24, na.rm=TRUE)

[1] 53

# Use the data you loaded from Question 1. Consider the variable FES in the code book. Which of the "tidy data" principles does this variable violate?
- Tidy data has variable values that are internally consistent.
- Each variable in a tidy data set has been transformed to be interpretable.
- Tidy data has one variable per column. <font color='red'>Correct</font>
- Numeric values in tidy data can not represent categories.

# Download the Excel spreadsheet on Natural Gas Aquisition Program here:
####  https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FDATA.gov_NGAP.xlsx
#### Read rows 18-23 and columns 7-15 into R and assign the result to a variable called:

In [23]:
url <- "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FDATA.gov_NGAP.xlsx"
download.file(url, destfile = "./NGS.xlsx")

In [43]:
library(xlsx)
rows <- 18:23
cols <- 7:15
dat <- read.xlsx("NGS.xlsx", sheetIndex = 1, header=F, rowIndex = rows, colIndex = cols)
names(dat) <- 
head(dat)

  X7    X8        X9        X10       X11          X12 X13          X14
1 Zip   CuCurrent PaCurrent PoCurrent Contact      Ext Fax          email
2 74136 0         1         0         918-491-6998 0   918-491-6659 NA
3 30329 1         0         0         404-321-5711 NA  NA           NA
4 74136 1         0         0         918-523-2516 0   918-523-2522 NA
5 80203 0         1         0         303-864-1919 0   NA           NA
6 80120 1         0         0         345-098-8890 456 NA           NA
  X15
1 Status
2 1
3 1
4 1
5 1
6 1

In [44]:
sum(dat$Zip*dat$Ext,na.rm=T)

[1] 0

In [45]:
listdat[1,]

  X7  X8        X9        X10       X11     X12 X13 X14   X15
1 Zip CuCurrent PaCurrent PoCurrent Contact Ext Fax email Status