[link](https://www.coursera.org/learn/data-cleaning/exam/k2arZ/week-1-quiz)

## The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:
#### https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv
#### and load the data into R. The code book, describing the variable names is here:
#### https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FPUMSDataDict06.pdf
#### How many properties are worth $1,000,000 or more?

In [15]:
url <- "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv"
download.file(url, dest="./housing.csv")
housing <- read.csv("housing.csv")

In [20]:
sum(housing$VAL == 24, na.rm=TRUE)

[1] 53

# Use the data you loaded from Question 1. Consider the variable FES in the code book. Which of the "tidy data" principles does this variable violate?
- Tidy data has variable values that are internally consistent.
- Each variable in a tidy data set has been transformed to be interpretable.
- Tidy data has one variable per column. <font color='red'>Correct</font>
- Numeric values in tidy data can not represent categories.

# Download the Excel spreadsheet on Natural Gas Aquisition Program here:
####  https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FDATA.gov_NGAP.xlsx
#### Read rows 18-23 and columns 7-15 into R and assign the result to a variable called:

In [23]:
url <- "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FDATA.gov_NGAP.xlsx"
download.file(url, destfile = "./NGS.xlsx")

In [28]:
library(xlsx)
NGA <- read.xlsx("NGS.xlsx", sheetIndex = 1, header=F)

In [30]:
arg

  X1                   X2           X3                  X4
1 Table Name: Contract NA           NA                  NA
2 ContractNumber       ContractorId ExpiryDate          CFileName
3 GS-00P-02-BSC-0201   23           2004-09-30 00:00:00 NA
4 GS-00P-02-BSC-0204   5            2003-10-31 00:00:00 NULL
5 GS-00P-02-BSC-0206   6            2004-10-31 00:00:00 NA
6 GS-00P-02-BSC-0207   4            2006-10-31 00:00:00 NA
  X5                  X6 X7 X8 X9 X10 ⋯ X17 X18 X19 X20 X21 X22 X23 X24 X25 X26
1 NA                  NA NA NA NA NA  ⋯ NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
2 ReactivationDt      NA NA NA NA NA  ⋯ NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
3 2004-09-30 00:00:00 NA NA NA NA NA  ⋯ NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
4 NULL                NA NA NA NA NA  ⋯ NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
5 2004-11-02 00:00:00 NA NA NA NA NA  ⋯ NA  NA  NA  NA  NA  NA  NA  NA  NA  NA
6 2004-11-01 00:00:00 NA NA NA NA NA  ⋯ NA  NA  NA  NA  NA  NA  NA  NA  NA  NA